*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: white;
    /* outline: 2px solid rgb(255, 0, 0) !important; */
}
:root{
    --body-colour: #081D22;
    --body-colour2:#2f3e51;
    --heading-colour: #90f109;
    --icon-colour: #f8ff32;
    --iconHover-colour: #10dbff;
    --text-colour: white;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: var(--body-colour);
}
.white-text{
    color: white;
}
/*------------------------------------Navbar--------------  */
header{
    background-color: var(--body-colour2);
    position: fixed; 
    top: 0;
    width: 100%;
    z-index: 100;
}
.k{
    width: 25px;
    padding: 2px;
}
li{
    list-style: none;
}
.myNav-link{
    color: white;
    text-decoration: none;
    transition: 0.7s ease;
}
.myNav-link:hover{
    color: var(--iconHover-colour);
}
.myNavbar{
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.myNav-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}
.hamburger-menu{
    display: none;
    cursor: pointer;
}
.h-bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}
/*------------------------------------Hello-----------------*/
.container{
    padding: 10px 10%;
}
#hello{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}
.hello-text{
    font-size: 30px;
    /* --for the animation-- */
    position: relative;
    animation-name: hello;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}
@keyframes hello{
    0%{
        left: -5px;
        opacity: 0;
    }
    100%{
        left: 5%;
        opacity: 100%;
    }
}


.hello-text h1{
    font-size: 60px;
    margin-block: 20px;
}
.hello-text span{
    color: var(--iconHover-colour);
}
/*------------------------------------Projects------------- */
#my-work{
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #2f3e51);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a {
    text-decoration: none;
    background-color: var(--iconHover-colour);
    width: 110px;
    padding: 5px;
    margin: 3px;
    border-radius: 4px;
    color: black;
    font-weight: bolder;
}
.layer a:hover{
    background-color: var(--icon-colour);
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
/*------------------------------------About Me--------------*/
#about{
    padding: 80px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 20%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 50%;
    padding: 30px;
}
.subtitle{
    font-size: 3rem;
    font-weight: 600;
    color: white;
    text-align: center;
}
.cv{
    display: flex;
    justify-content: center;
}
/*------------------------------------Form------------------*/
#contact{
    display: flex;
    justify-content: center;
    margin-block-end: 50px;
    padding-block-start: 50px;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}
.form-div{
    width: 450px;
    margin: 5px;
    position: relative;
}
.form-span{
    position: absolute;
    top: 5px;
    right: 15px;
}
.form-input{
    width: 100%;
    background-color: var(--body-colour2);
    border: 0;
    outline: 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
}
::placeholder{
    color: white;
    font-size: 1rem;
    font-weight: bold;
}
.submitmsg{
    color: #61b752;
    margin-top: -10px;
    display: block;
}
.btn{
    padding-inline: 1rem;
    padding-block: 0.6rem;
    font-size: 1.3em;
    font-weight: bold;
    color: black;
    background-color: var(--iconHover-colour);
    border: 2px solid rgba(112, 111, 211, 0);
    border-radius: 15px;
    outline: none;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}
.btn:hover{
    background-color: var(--heading-colour)
}
.btn:focus{
    color: black;
    border: 2px solid none;
    box-shadow: 0px 0px 0px 1px var(--icon-colour);
    animation: btn-anim .3s forwards;
}
@keyframes btn-anim{
    100%{
        box-shadow: 0px 0px 5px 5px rgba(112, 111, 211, 0);
    }
}

/*------------------------------------Footer----------------*/
footer{
    margin-block-start: 20px;
    height: 200px;
    background-color: var(--body-colour2);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-block: 50px;
}
.links{
    display: flex;
    gap: 20px;
}
.mailid{
    margin: 20px;
}

/*------------------------------------Media queries---------*/

@media(max-width:768px){ /*Small screen*/
    /* ---------------------NavBar------------------------- */
    .hamburger-menu{
        display: block;
    }
    .hamburger-menu.active .h-bar:nth-child(2){
        opacity: 0;
    }
    .hamburger-menu.active .h-bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger-menu.active .h-bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
    .myNav-menu{
        position: fixed;
        right: -100%;
        top: 50px;
        gap: 0;
        flex-direction: column;
        background-color: var(--body-colour2);
        width: 100%;
        text-align: center;
        transition: 0.3s;
    }
    .myNav-item{
        margin: 16px 0;
    }
    .myNav-menu.active{
        right: 0;
    }


    /* ----------------------------hello------ */
    .hello-text{
        font-size: 1.5rem;
    }
    .hello-text h1{
        font-size: 2.1rem;
    }
    .subtitle{
        font-size: 40px;
    }
    .row{
        flex-direction: column;
    }
    .about-col-1{
        flex-basis: 100%;
        display: flex;
        justify-content: center;
    }
    .about-col-1 img{
        width: 60%;
    }
    .about-col-2{
        flex-basis: 100%;
        padding: 10px;
    }
    .btn{
        padding-inline: 0.5rem;
        padding-block: 0.4rem;
        font-size: 1.1em;
        border-radius: 10px;
    }
    .form-div{
        width: 350px;
    }
}